.box {
  height: 100px;
  width: 100px;
  background-color: red;
  border: solid 1px black;
  display: inline-block;
}

.container {
  /* height: 2000px; */
  /* width: 100vw; */
  height: 500px;
  width: 700px;
  background-color: pink;
  /* position: relative; trick of positioning a child inside a parent */
}
/* position: relative */
/* #box3 {
  position: relative;
  top: 100px; /* current pos ko top bata bottom tira 100px moved */
/*
} 

#box4 {
  position: relative;
  right: 106px;
}

#box1 {
  position: relative;
  bottom: 10px;
} */

/* position: fixed */
/* #box1 {
  position: fixed;
  top: 50px;
  left: 50px;
} */

/* position: absolute */
/* #box3 { */
/* position: absolute; */
/* background-color: green;
  position: sticky;
  top: 20px;
} */

/* position text in all 4 corners and center of a div / container / img */
.container {
  position: relative;
}

.box {
  position: absolute;
}

#box2 {
  left: 600px;
}

#box3 {
  top: 400px;
}

#box4 {
  top: 400px;
  left: 600px;
}

#box5 {
  left: 300px;
  top: 200px;
}
